<div class="main">
    <div class="chat"　id="chat-index">
        <div class="chat-container">
            <div class="message-box">
                <div class="message-block">
                    <p class="message-info">
                        test
                        <span>
                            2020/11/06(Fri) 12:00
                        </span>
                    </p>
                    <p class="message-content">
                        ああああああああああああああ
                    </p>
                </div>
                <div class="message-post">
                    <ul>
                        <li>
                            <a href="#">edit</a>
                        </li>
                        <li>
                            <a href="#">delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="message-box">
                <div class="message-block">
                    <p class="message-info">
                        test
                        <span>
                            2020/11/06(Fri) 12:00
                        </span>
                    </p>
                    <p class="message-content">
                        あああああああああ
                    </p>
                </div>
                <div class="message-post">
                    <ul>
                        <li>
                            <a href="#">edit</a>
                        </li>
                        <li>
                            <a href="#">delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-form">
        <form>
            <input id="chat-form" type="text">
            <input value="SEND" type="submit">
        </form>
    </div>

</div>